body {

    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0 120px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

    .logo {
        float: left;
        width: 160px;
        margin: 0 30px 0 170px;
        padding: 5px;
        }
        
    .topnav {
        overflow: hidden;
        background-color: #63AFB5;
        }
        
    .topnav a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 1px;
    }
    
    
    .topnav .icon {
        display: none;
    }
    
    
    .def-avatar {
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding-right: 8px;
    }
    .menus {
        margin-top: 12px;
        padding: 20px;
        float: left;
    }
    .menus:hover {
        background-color: #63a2a7;
        border-radius: 40px;
    }
    
    .logOut {
        float: right;
        font-size: 10px;
        color: rgb(139, 139, 139);
        margin: 11px 180px 0 20px;
        padding: 20px;
        background-color: #5d999e;
        border-radius: 40px;
    }
    .logOut:hover {
        color: rgb(90, 90, 90);
        background-color: #b1e6e9;
        border-radius: 40px;
    }
    .username {
        float: right;
        margin-left: 10px;
        margin-top: 12px;
        padding: 10px;
    }
    .username:hover {
        background-color: #63a2a7;
        border-radius: 40px;
    }

    .header-background {
        width: 100%;
        height: 80px;
        background-image: url('/images/courses-bg.png');
        background-repeat: no-repeat;
        position: relative;
    }
    .prof-avatar {
        float: left;
        margin: 8px 10px 0px 380px;
        width: 60px;
        height: 60px;
        border: 2px solid white;
        border-radius: 50%;
    }
    .profileBG {
        max-width: 100%;
    }

    .header-pos {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 2px;
        float: left;
        color: rgb(255, 255, 255);
        cursor: default;
        margin: 24px 0px 0px 10px;
    }
    
    .addBtn {
        color: white;
        background-color: #51D2AB;
        width: 80px;
        height: 35px;
        border-radius: 11px;
        border: 0;
        font-size: 16px;
        font-weight: bold;
    }
    .addBtn:hover {
        opacity: 0.8;
        cursor: pointer;
    }
    .sortBtn {
        color: rgb(83, 83, 83);
        background-color: white;
        float: right;
        width: 80px;
        height: 35px;
        border-radius: 11px;
        border: 2px solid rgb(83, 83, 83);
        font-size: 16px;
        font-weight: bold;
    }
    .sortBtn:hover {
        background-color: rgb(116, 116, 116);
        color: white;
        cursor: pointer;
    }
    .profile-con {
        max-width: 100%;
        height: 160px;
        border-radius: 14px;
        box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.59);
        margin: 30px 0;
    }
    .profile-con:hover {
        opacity: 0.95;
    }
   
    .prof-name {
        font-size: 48px;
        padding: 48px 20px;
        color: white;
        font-weight: bolder;
        text-shadow: 1px 1px 1px 1px black;
        float: left;
    }

   

    .text-in-prof-con {
        font-size: 38px;
        font-weight: 700;
    }
    .prof-avatar {
        float: left;
        margin: 8px 10px 0px 380px;
        width: 60px;
        height: 60px;
        border: 2px solid white;
        border-radius: 50%;
    }
    
    #signUpButtn {
        background-color: #06DBB0;
        margin-left: 20px;
        padding: 12px 28px;
        border-radius: 24px;
    }


    .form {
        background-color: #E8F1F5;
        width: 700px;
        height: 950px;
        margin: auto;
        margin-top: 50px;
        border-radius: 30px;
        box-shadow: 3px 3px 5px 3px #3d3d3d;

    }

    .cancelBtn {
    background-color: #c5c5c5;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 22px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 130px;
    height: 50px;
    }
    .backBtn {
        background-color: #8bc0fd;
        color: white;
        font-size: 24px;
        font-weight: bold;
        margin: 22px 0px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 130px;
        height: 50px;
        float: right;
        margin-right: 15px;

    }
    .confirmBtn {
        background-color: #2fd19b;
        color: white;
        font-size: 24px;
        font-weight: bold;
        margin: 22px 0px 22px;
        float: right;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 130px;
        height: 50px;

    }

    button:hover {
        opacity: 0.8;
    }

    .container {
        padding: 0px 50px 0px 50px;
    }
    .inner_container {
        padding: 20px 50px 20px 50px; 
        background-color: white;
        border-radius: 30px;
        height: 670px;
    }

    #creCourseHead {
        color: #545454;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        padding-top: 30px;
    }

    .signupText {
        text-align: center;
        font-size: 20px;
        color: #4e4e4e;
    }
    
    .paddingButtom25px {
        padding-bottom: 25px;
    }
    .dot {
        height: 10px;
        width: 10px;
        background-color: #c5c5c5;
        border-radius: 50%;
        display: inline-block;

    }
    .activedot {
        height: 10px;
        width: 10px;
        background-color: #2fd19b;
        border-radius: 50%;
        display: inline-block;
        
    }
    .pageNewCourse {
        margin-left: 1000px;
    }
    td {
        width: 50%;
    }
    input[type="text"], input[type="number"], input[type="date"], select {
        width: 100%;
        height: 40px;
        padding: 2px 20px;
        margin: 4px 0px 10px 0px;
        display: inline-block;
        border: 2px solid #9E9E9E;
        border-radius: 10px;
        box-sizing: border-box;
    }
    input[disabled] { 
        background-color: #e0e0e0; 
    }
    #enableEnd {
        text-align: left;
        margin: 0 10px;
    }
    th {
        font-weight: normal;
    }

    .ck_btn {
        margin-top: 0;
        background-color:#ffffff;
        border: 2px solid #9E9E9E;
        border-radius: 10px;
        overflow:auto;
        float:left;
    }
    
    .ck_btn:hover {
        background:rgb(228, 228, 228);
        cursor: pointer;
    }
    
    .ck_btn label {
        float:left;
        width: 120px;
    }
    
    .ck_btn label span {
        width: 100%;
        height: 25px;
        text-align:center;
        padding-top: 7px;
        display:block;
    }
    .ck_btn label span:hover {
        cursor: pointer;
    }
    
    .ck_btn label input {
        display: none;
    }
    
    #sunday input:checked + span {
        background-color:rgb(247, 96, 96);
    }
    #monday input:checked + span {
        background-color:rgb(255, 255, 77);
    }
    #tuesday input:checked + span {
        background-color:rgb(255, 168, 183);
    }
    #wednesday input:checked + span {
        background-color:rgb(108, 255, 108);
    }
    #thursday input:checked + span {
        background-color:rgb(255, 183, 50);
    }
    #friday input:checked + span {
        background-color:rgb(53, 191, 255);
    }
    #saturday input:checked + span {
        background-color:rgb(224, 157, 224);
    }

@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: inline;
        margin: 12px;
        font-size: 30px;
    }
    .logo {
        float: left;
        width: 120px;
        margin: 5px;
        padding: 0;
    }
}
    
@media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .menus {
        margin: 10px 5px;
    }
    #myProfile {
        margin-top: 60px;
    }
    .username {
        margin: 10px 5px;
    }
    .logOut {
        margin: 10px 5px;
    }
    .header-pos {
        font-size: 24px;
     margin: 28px 0px 0px 0px;
    }
    .header-background {
        width: 100%;
        height: 80px;
        background-image: url('/images/courses-bg.png');
        background-repeat: no-repeat;
        position: relative;
    }
    .prof-avatar {
        float: left;
        margin: 8px 10px 0px 22px;
        width: 60px;
        height: 60px;
        border: 2px solid white;
        border-radius: 50%;
    }
    .form {
        width: 100%;
        height: 770px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 20px;
        font-size: 13px;
    }

    .cancelBtn {
        font-size: 16px;
        border-radius: 8px;
        width: 45%;
        height: 45px;
        margin: 0 0px 0 0;
    }
    .backBtn {
        font-size: 16px;
        margin: 0px 0px;
        width: 45%;
        height: 45px;
        margin-right: 15px;

    }
    .confirmBtn {
        font-size: 16px;
        margin: 0;
        width: 45%;
        height: 45px;

    }

    .container {
        padding: 0px 14px 0px 14px;
    }
    .inner_container {
        padding: 15px 10px 0px 10px; 
        background-color: white;
        border-radius: 15px;
        height: 610px;
    }

    #creCourseHead {
        font-size: 20px;
        padding-top: 15px;
    }

    .signupText {
        font-size: 16px;
    }
    
    .dot {
        height: 7px;
        width: 7px;

    }
    .activedot {
        height: 7px;
        width: 7px;
        
    }
    td {
        width:10%;
    }
    input[type="text"], input[type="number"],input[type="date"], select {
        width: 90%;
        height: 40px;
        padding: 2px 10px;
        margin: 2px 0px 5px 0px;
    }
    input[type="date"].day-date{
        width: 112px;
        padding: 2px 5px;
    }
    th {
        font-weight: normal;
    }
    
    .ck_btn label {
        width: 94px;
    }
    #select-day-table {
        width: 50%;
        margin: 0;
    }
}